@import "tailwindcss";

body {
  margin: 0;
  background-color: #f9fafb;
  color: #111827;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
